.grid{
    display:flex;
    flex-direction: column;
    width:100%;
    padding: 0 40px 40px 40px;
}
.line{
    display:flex;
    flex-direction:space-between;
}
.column{
    border:1px solid rgba(0, 0, 255, 0.3);
    width:50px;
    height:50px;
    position:relative;
}   
.background{
    width:50px;
    height:50px;
    position:absolute;
    top:0;
    left:0;
}
.gary{
    font-size:24px;
    color:#000;
    text-shadow:#fff;
}
.svgImage{
    position:absolute;
    z-index:999;
    top:0;
    left:0;
}