body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  width:100%;
}
.titleHeader{
  font-size: 52px;
  color: #0000FF;
  letter-spacing: 2.1px;
  text-align: center;
}